version: '3.7'

## ISLE 8 Draft Prototype
## Feb, 2020
## MVP 1 - Traefik, Solr, MySQL & Drupal

services:

  traefik:
    # review https://hub.docker.com/_/traefik
    image: traefik:2.1.3
    container_name: isle-dc-traefik-${CONTAINER_SHORT_ID}
    networks:
      isle-dc-internal:
      isle-dc-external:
    env_file:
      - .env
    ports:
      - "80:80"
      - "443:443"
      #- "8080:8080"
    volumes:
      # TO DO: Update according to new Traefik 2.0 conventions (values below based on 1.7.9, are incomplete & wrong due to missing "routing" labels)
      - /var/run/docker.sock:/var/run/docker.sock
      # SSL Choice 1: To use Let's Encrypt for SSL- uncomment ONLY the line below and then create an empty config/traefik/acme.json file
      # - ./config/traefik/acme.json:/acme.json
      # SSL Choice 2: To use commercial SSLs - uncomment ONLY the line below. Add your SSL certs (.cert, .pem, .key) files to config/traefik/ssl-certs
      # - ./config/traefik/ssl-certs:/certs:ro

      # Use Environment vaiables to pass in Traefik config; no traefik.yml required
      # by providers
      # Alternative to a static configureation /etc/traefik/traefik.yml"
      # Pass in config via flags or environment variables
      # https://docs.traefik.io/getting-started/configuration-overview
      # Obsolete - "./config/traefik/traefik.local.yml:/etc/traefik/traefik.yml"

 
  drupal:
    # review https://github.com/docker-library/docs/blob/master/drupal/content.md
    image: drupal:8.8.1-apache
    container_name: isle-dc-drupal-${CONTAINER_SHORT_ID}
    env_file:
      - .env
    networks:
      - isle-dc-internal
    depends_on:
      - mysql
      - traefik
    ports:
      - 8080:80
    volumes:
      # TO DO: Determine what is Drupal volume setup?
        # Disagreement re volumes in Drupal community https://github.com/docker-library/drupal/issues/3
        # Is it an idea to only mount sites data and rebuild image with Drupal code changes ?
        # Volumes setup should be reviewed https://hub.docker.com/_/drupal/
      # TO DO: Determine what should be in config/drupal? .keep file is in place for now to allow empty dir to appear.  
      - ./data/drupal/modules:/var/www/html/modules
      - ./data/drupal/profiles:/var/www/html/profiles
      - ./data/drupal/sites:/var/www/html/sites
      - ./data/drupal/themes:/var/www/html/themes
      # TO DO: Determine what type of container handling is needed
    restart: always
    labels:
      - "traefik.enable=true"
      # Generate route for secure http
      - "traefik.http.routers.whoami-secured.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.whoami-secured.entrypoints=websecure"
      - "traefik.http.routers.whoami-secured.tls=true"
      # Generate route for insecure http; redirect via middleware.secure.header
      - "traefik.http.routers.whoami.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.whoami.entrypoints=web"
      # Enforce a minimum version of the TLS protocol:  ToDo: TLS 1.2 or 1.3?
      - "traefik.tls.options.default.minVersion=VersionTLS13"
      # Connect route to TLS options ToDo: test
      - "traefik.http.routers.whoami-secured.tls.options=default"
      # Enforce a set of secure headers
      # Define middleware named "secure" to enable security headers
      - "traefik.http.middlewares.secure.headers.framedeny=true"
      - "traefik.http.middlewares.secure.headers.sslredirect=true"
      - "traefik.http.middlewares.secure.headers.forceSTSHeader=true"
      - "traefik.http.middlewares.secure.headers.browserXssFilter=true"
      # Enable to prevent ssl redirect and STS Header enforcment
      # ToDo: production disable to enfore redirect
      - "traefik.http.middlewares.secure.headers.isDevelopment=true"
      # Apply middleware "secure" to entrypoints
      - "traefik.http.routers.whoami.middlewares=secure"
      - "traefik.http.routers.whoami-secured.middlewares=secure"
 
## TO DO: Break this section out into another Docker-compose for extension https://docs.docker.com/compose/extends/ and as an conditional either mysql or postgres
  mysql:
    ## Using for protoype database
    image: mysql:5.7
    container_name: isle-dc-mysql-${CONTAINER_SHORT_ID}
    env_file:
      - .env
    networks:
      - isle-dc-internal
    depends_on:
      - traefik
    ports:
      - "3306:3306"
    volumes:
    ## TO DO: How to allow for slow query log setup?
    ## Customization: Allows for additional tuning of MySQL.
    ## From ISLE 7 work: keeping MySQL in a Docker volume avoids a slew of issues from bind-mounting
      - ./config/mysql/ISLE.cnf:/etc/mysql/mysql.conf.d/isle-mysql.cnf
      - isle-dc-mysql-data:/var/lib/mysql


  solr:
    image: solr:8.4.1
    container_name: isle-dc-solr-${CONTAINER_SHORT_ID}
    environment:
      - JAVA_MAX_MEM=2048M
      - JAVA_MIN_MEM=512M
    env_file:
      - .env
    networks:
      - isle-dc-internal
    depends_on:
      - traefik  
    ports:
      - "8082:8080"
    volumes:
      - isle-dc-solr-data:/usr/local/solr
    # TO DO: Determine what type of container handling is needed
    restart: always
 

networks:
  isle-dc-internal:
  isle-dc-external:


volumes:
  isle-dc-mysql-data:
  # isle-dc-postgres-data # Added to prototype but not currently used
  isle-dc-solr-data:
