# Allows traefik to work as the edge router for multiple projects.
#
# By default the rules will redirect to ${SERVICE}.${COMPOSE_PROJECT_NAME}.traefik.me
# if working on localhost and ${SERVICE}-${COMPOSE_PROJECT_NAME}-XX-XX-XX-XX.traefik.me
# if working remotely, where XX-XX-XX-XX is the dashed version of your IP address.
#
# For a traefik to be able to route traffic to a given container, that
# container needs to be on the `gateway` network, otherwise traefik will
# discover it via Docker but will not be able to redirect traffic to it.
version: "3.7"
networks:
  gateway:
    driver: bridge
    internal: false
services:
  traefik:
    restart: ${RESTART_POLICY:-unless-stopped}
    image: traefik:2.2.1
    container_name: traefik
    # Do not set `api.insecure`, `api.dashboard`, `api.debug` to `true` in production.
    # Also do not expose database 3306/5432, as an entry point.
    command: >-
      --api.insecure=true
      --api.dashboard=true
      --api.debug=true
      --entryPoints.http.address=:80
      --entryPoints.https.address=:443
      --entryPoints.mysql.address=:3306
      --entryPoints.postgresql.address=:5432
      --entryPoints.fcrepo.address=:8081
      --entryPoints.blazegraph.address=:8082
      --entryPoints.activemq.address=:8161
      --entryPoints.solr.address=:8983
      --entryPoints.code-server.address=:8443
      --providers.docker
      --providers.docker.network=gateway
      --providers.docker.exposedByDefault=false
      --providers.file.filename=/etc/traefik/tls.yml
      '--providers.docker.defaultRule=Host(`${DOMAIN}`)'
    ports:
      - 80:80       # drupal, cantaloupe, matomo
      - 443:443     # https for ^^^
      # Don't do any of these in production
      - 3306:3306   # mysql
      - 5432:5432   # postgres
      - 8080:8080   # traefik admin dashboard - helpful for debugging
      - 8081:8081   # fedora 
      - 8082:8082   # blazegraph      
      - 8161:8161   # activemq
      - 8983:8983   # solr
      - 8443:8443   # code-server
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./tls.yml:/etc/traefik/tls.yml
      - ./certs:/etc/ssl/traefik
    labels:
      # Do not expose in production.
      - traefik.http.routers.api.service=api@internal
    networks:
      default:
        aliases:
          - ${DOMAIN}
      gateway: {}
  drupal:
    depends_on:
      - traefik
